<div class="input-form">
    <div class="alert alert-danger alert-dismissable animated fadeIn" ng-show="errors">
        <strong>Warning!</strong> This user name exists
    </div>
    <h1 class="pull-left m-v-20">Sign Up</h1>
    <div class="pull-right m-v-20 p-v-10">
        <a href="#/signin" class="btn btn-sm btn-warning">Sign In</a>    
    </div>
    <form name="signup_form" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" name="login" placeholder="Login" ng-model="user.login" required>
            <div ng-show="signup_form.login.$dirty && signup_form.login.$invalid">
                <span ng-show="signup_form.login.$error.required" class="help-block text-right">
                    Enter your login
                </span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" required>
            <div ng-show="signup_form.password.$dirty && signup_form.password.$invalid">
                <span ng-show="signup_form.password.$error.required" class="help-block text-right">
                    Enter your password
                </span>
            </div>
        </div>
        <div class="text-center m-v-20 p-v-10">
            <button type="button" class="btn btn-primary btn-block" ng-click="userInput()" ng-disabled="signup_form.$invalid">
                Sign Up
            </button>
        </div>
    </form>
</div>
