<div class="auth">
    <h1 class="text-center">Authentification</h1>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" name="login" placeholder="Login">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="auth-btn">
            <div class="text-center col-sm-6">
                <button type="button" class="btn btn-primary btn-block" ng-click="clickName()">Sign In</button>
            </div>
            <div class="text-center col-sm-6">
                <button type="button" class="btn btn-warning btn-block" ng-click="clickName()">Sign Up</button>
            </div>
        </div>
    </form>
</div>
